<ion-tab-bar class="py-3" slot="bottom" [ngClass]="{'mb-3': isIos}">
<ion-tab-button (click)="redirect('home')" tab="tab1" class="mt-3">
  <ion-img style="width: 7vw;" [src]="getTabIcon('home')"></ion-img>
  <ion-label><b>Home</b></ion-label>
</ion-tab-button>

<ion-tab-button tab="tab2" class="mt-3">
  <ion-img style="width: 7vw;" [src]="getTabIcon('bills')"></ion-img>
  <ion-label><b>Bills</b></ion-label>
</ion-tab-button>

<ion-tab-button tab="tab3" class="mt-3" style="height: 18vw;">
  <ion-img style="width: 15vw; margin-top: -10px;" [src]="getTabIcon('main')"></ion-img>
</ion-tab-button>

<ion-tab-button tab="tab4" class="mt-3">
  <ion-img style="width: 7vw;" [src]="getTabIcon('gifcards')"></ion-img>
  <ion-label><b>Gif Cards</b></ion-label>
</ion-tab-button>

<ion-tab-button (click)="redirect('profile')" tab="tab5" class="mt-3">
  <ion-img style="width: 7vw;" [src]="getTabIcon('profile')"></ion-img>
  <ion-label><b>Profile</b></ion-label>
</ion-tab-button>

</ion-tab-bar>