<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-icon (click)="back()" style="font-size: 24px; padding-left: 10px;" name="chevron-back" slot="start" class="back-icon"></ion-icon>
    <ion-title class="text-center"> <h1>Add New Card</h1></ion-title>
    
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <div class="card-background" style="margin-top: -70px;"></div>

  <ion-row>
    <ion-col size="12" style="margin-top: -70px;">
      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="card-form" >
    <div class="form-group">
      <label>Card number</label>
      <ion-input
        formControlName="cardNumber"
        inputmode="numeric"
        placeholder="XXXX XXXX XXXX XXXX"
        type="text"
        class="custom-input"
      ></ion-input>
      <ion-note color="danger" *ngIf="cardForm.get('cardNumber')?.touched && cardForm.get('cardNumber')?.invalid">
        Enter a valid card number (16-19 digits)
      </ion-note>
    </div>

    <div class="form-group">
      <label>Holder</label>
      <ion-input
        formControlName="holder"
        placeholder="Full name"
        type="text"
        class="custom-input"
      ></ion-input>
      <ion-note color="danger" *ngIf="cardForm.get('holder')?.touched && cardForm.get('holder')?.invalid">
        Name is required (letters only)
      </ion-note>
    </div>

    <div class="form-group">
      <label>CVV</label>
      <div class="cvv-input-container">
        <ion-input
          [type]="cvvVisible ? 'text' : 'password'"
          formControlName="cvv"
          placeholder="CVV"
          inputmode="numeric"
          class="custom-input"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye-outline"
          class="eye-icon"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </div>
      <ion-note color="danger" *ngIf="cardForm.get('cvv')?.touched && cardForm.get('cvv')?.invalid">
        Enter a valid 3 or 4 digit CVV
      </ion-note>
    </div>

    <div class="form-group">
      <label>Month/Year</label>
      <ion-input
        formControlName="expiry"
        placeholder="MM/YY"
        type="text"
        class="custom-input"
      ></ion-input>
      <ion-note color="danger" *ngIf="cardForm.get('expiry')?.touched && cardForm.get('expiry')?.invalid">
        Format must be MM/YY
      </ion-note>
    </div>

    <div class="supported-payments">
      <p>Supported Payments:</p>
      <div class="payment-logos"></div>
    </div>

    <div class="custom-footer" style="margin-top: 10px;">
    <ion-button (click)="onSubmit()" style="color: white;"[disabled]="cardForm.invalid" expand="block" class="proceed-button">
      Proceed
    </ion-button>
  </div>
  </form>
    </ion-col>
  </ion-row>
</ion-content>
