ion-content {
  background: rgb(48, 154, 65);
  // --background: linear-gradient(
  //   0deg,
  //   rgba(48, 154, 66, 0.722) 0%,
  //   rgba(255, 255, 255, 1) 64%
  // );
}

// ion-footer {
//   position: absolute !important;
//   top: 91%;
// }

.dynamic-toolbar {
  min-height: auto !important;
  height: auto !important;
  display: flex;
  align-items: center;
  padding: 10px; /* Ajusta según el contenido */
  flex-wrap: wrap; /* Permite que el contenido se expanda si es necesario */
}



.fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: #c8e6c9; /* Color verde suave */
  clip-path: ellipse(80% 60% at 100% 0%);
}


.cloud-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%; /* Ajusta el tamaño de la nube */
  height: 30%;
  background: #A4D4A5;
  clip-path: path("M0,100 C30,90 40,60 60,80 C80,100 90,50 100,40 L100,100 Z");
}


.cloud {
  background-color: #32CD32; /* Lime green color */
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cloud::before,
.cloud::after {
  content: '';
  background-color: #32CD32; /* Lime green color */
  border-radius: 50%;
  position: absolute;
}

.cloud::before {
  width: 100px;
  height: 100px;
  left: -50px;
  top: 10px;
}

.cloud::after {
  width: 100px;
  height: 100px;
  right: -50px;
  top: 10px;
}


ion-button {
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  --transition: all 0.3s ease-in-out;
}