<ion-content class="ion-padding">
  <div class="shape"></div>

  <ion-grid fixed>icon-background.png
  
  
  
    <ion-row  style="margin-top: 10%;">
      <ion-col size="12" class=" mt-4 ion-no-padding">
        <img style="width: 60%;" src="assets/img/logo-name.jpg" alt="">
      </ion-col>
      <ion-col size="8" class="text-justify">
        <p style="font-size: 1em; color: black;">Recarga en la Caja Registradora</p>
      </ion-col>
    </ion-row>
  
  </ion-grid>



</ion-content>


<ion-footer class="ion-no-border" >
    


     <ion-row   style="background-color: #309a42ce!important; border-top-left-radius: 30px; border-top-right-radius: 30px;" >
      <ion-col size="12" >
        <ion-button expand="block"  color="dark" class="ion-padding">
          <ion-icon slot="icon-only" color="light" name="logo-google"></ion-icon>
          <b style="padding-left: 5px;">Acceder con Google</b>
        </ion-button>
  
      </ion-col>
      <ion-col size="12" class="text-center" >
        <p class="text-light">------------    O    ------------</p>
      </ion-col>
  
  
      <ion-col size="12" >
        <ion-button expand="block" style="height:60px!important"  color="light" class="">
        <p class="text-center mt-2" style="font-size: 1.3em; color: rgb(18, 17, 17);"><b> <i class="pi pi-sign-in" style="font-size: 1.3rem; padding-right: 5px; color: var(--ion-color-dark);"></i> Iniciar Sesión</b></p>
  
        </ion-button>
  
      </ion-col>
  
      <ion-col size="12" class="mb-5">
        <ion-button expand="block" style="height:60px!important"  color="light" class="">
        <p class="text-center mt-2" style="font-size: 1.3em; color: rgb(18, 17, 17);"><b> <i class="pi pi-user-plus" style="font-size: 1.3rem; padding-right: 5px; color: var(--ion-color-dark);"></i> Registrate</b></p>
        </ion-button>
  
      </ion-col>
  
    </ion-row> 
</ion-footer>

