<h1 class="welcome-title">Welcome to kuidopay</h1>

<!-- Next button -->
<div class="next-button-container mt-5">
  <ion-button class="button-primary" (click)="onNext()">
    Next
    <div class="arrow-container">
      <img class="arrow-icon" alt="Arrow" src="assets/img/splash/group.svg" />
    </div>
  </ion-button>
</div>

<!-- Description text -->
<p class="description">
  Send fast top-ups wherever you are, pay your bill, and more.
</p>

<!-- No login version link -->
<p class="button-link" (click)="onNoLoginVersion()">
  No login version
</p>