<app-kuido-header title="Forgot Password"></app-kuido-header>
<ion-content>
  <div class="login-container">
    <ion-row>
      <ion-col size="12" class="px-4 mb-4">
        <div class="register-link">
          <span>Please complete the following information for your registration</span>
        </div>
      </ion-col>
    </ion-row>
   
    <!-- Form -->
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="loginForm"  class="login-form">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" formControlName="phone" placeholder="+18093716874">
          </div>
        </form>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button (click)="onSubmit()" class="login-button mb-3" [disabled]="!loginForm.valid">
      Send
    </button>
  </ion-toolbar>
</ion-footer>