<app-kuido-header title="Forgot Password"></app-kuido-header>
<ion-content>
  <div class="login-container">
    <ion-row>
      <ion-col size="12" class="px-4 mb-4">
        <div class="register-link">
          <span>Please complete the following information</span>
        </div>
      </ion-col>
    </ion-row>

    <!-- Form -->
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="loginForm" class="login-form">
          @if(showEmailField) {
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="youremail@example.com">
          </div>
        }

          @if(showPasswordFields) {
            <!-- <div class="form-group">
              <label>Old Password</label>
              <input type="password" formControlName="oldPassword">
              <div class="error" *ngIf="loginForm?.get('oldPassword')?.touched && loginForm?.get('oldPassword')?.invalid">
                <span *ngIf="loginForm?.get('oldPassword')?.errors?.['required']">
                  Old password is required.
                </span>
              </div>
            </div> -->
          <div class="form-group">
            <label>New Password</label>
            <input type="password" formControlName="newPassword">
            <div class="error" *ngIf="loginForm?.get('newPassword')?.touched && loginForm?.get('newPassword')?.invalid">
              <span *ngIf="loginForm?.get('newPassword')?.errors?.['required']">
                Password is required.
              </span>
              <span *ngIf="loginForm?.get('newPassword')?.errors?.['pattern']">
                Password must comply with 
              </span>
            </div>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
            <div class="error"
              *ngIf="loginForm?.get('confirmPassword')?.touched && loginForm?.get('confirmPassword')?.invalid">
              <span *ngIf="loginForm?.get('confirmPassword')?.errors?.['required']">
                Confirm password is required.
              </span>
            </div>
            <div class="error"
              *ngIf="loginForm?.errors?.['passwordMismatch'] && (loginForm?.get('confirmPassword')?.touched || loginForm?.get('newPassword')?.touched)">
              Passwords do not match.
            </div>
          </div>
        }
        </form>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button (click)="onSubmit()" class="login-button mb-3" >
      Send
    </button>
  </ion-toolbar>
</ion-footer>