  
  ion-modal {
    --width: auto;
    --height: auto;
    --min-height: auto;
    --max-height: 80%;
    --top: 50%;
    --left: 50%;
    transform: translate(-50%, -50%);
    --background: #00000087; 
  }

  :host {
    --ion-color-success: #3cb53f;
    --ion-color-success-shade: #35a438;
  }
  
  .top-up-container {
    max-width: 328px;
    margin: 0 auto;
    padding: 0 16px;
    height: 409px;
    display: flex;
    flex-direction: column;
  }
  
  .top-up-icon {
    width: 55px;
    height: 55px;
    margin: 32px auto;
  }
  
  .top-up-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #536758;
    margin-bottom: 4px;
  }
  
  .top-up-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #536758;
    margin: 0 auto;
    max-width: 285px;
  }
  
  .amount-container {
    margin: 40px 0;
    
    .amount-label {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #9ca3af;
      margin-bottom: 4px;
    }
    
    .amount-value {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 33px;
      color: #3cb53f;
    }
  }
  
  .confirm-button {
    --background: #3cb53f;
    --background-hover: #35a438;
    --border-radius: 20px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    color: white;
  }
  
  .cancel-button {
    --color: #ca2a2a;
    --background: #eae6e6;
    --background-hover: rgba(19, 94, 242, 0.1);
    --border-radius: 18px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 8px 0;
  }

  .topup-confirmation{
    background: #ffffff;
  }