@if(!isIos) {
<ion-toolbar class="py-3 ion-toolbar-3" style="--padding-top: 10px">
  <ion-segment [scrollable]="true" [value]="selectedSegment()" class="custom-segment">
    <ion-segment-button *ngFor="let segment of segments" [value]="segment.label" (click)="selectSegment(segment.label)"
      class="custom-segment-button">
      <ion-label>
        {{ segment.label }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
}

@else {

<ion-segment [scrollable]="true" [value]="selectedSegment()" class="custom-segment">
  <ion-segment-button *ngFor="let segment of segments" [value]="segment.label" (click)="selectSegment(segment.label)"
    class="custom-segment-button">
    <ion-label>
      {{ segment.label }}
    </ion-label>
  </ion-segment-button>
</ion-segment>
}