<app-kuido-header title="Profile"></app-kuido-header>

<ion-content>
  <div class="profile-container">


    <!-- Profile Info -->
    <div class="profile-info">
      <img [src]="profile.avatar_url" alt="Profile" class="avatar">
      <div class="user-info">
        <span class="name">{{profile.full_name}}</span>
        <span (click)="openUpdateProfile()" class="edit">Edit name</span>
      </div>
      <button class="camera-btn">
        <img src="assets/img/shared/camera.svg" alt="Edit">
      </button>
    </div>

  

    <!-- Settings -->
    <div class="settings">
      <div class="setting-item">
        <div class="setting-left">
          <img src="../../../assets/img/shared/bell.svg" alt="Notifications" class="setting-icon">
          <span><b>Notifications</b></span>
        </div>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
        </label>
      </div>

      <div class="setting-item">
        <div class="setting-left">
          <img src="../../../assets/img/shared/faceid_icon.svg" alt="Biometric" class="setting-icon">
          <span><b>Biometric Auth</b></span>
        </div>
        <label class="switch">
          <input type="checkbox" [checked]="biometricEnabled" (change)="onBiometricToggle($event)">
          <span class="slider"></span>
        </label>
      </div>

      <div class="setting-item">
        <div class="setting-left">
          <img src="../../../assets/img/shared/changepass.svg" alt="Password" class="setting-icon">
          <span><b>Change password</b></span>
        </div>
        <img src="assets/img/shared/angulo-derecho.svg" alt="Arrow" class="arrow">
      </div>

      <div class="setting-item" (click)="changeLanguage()">
        <div class="setting-left">
          <img src="../../../assets/img/shared/language.svg" alt="Language" class="setting-icon">
          <span><b>Language</b></span>
        </div>
        <img src="assets/img/shared/angulo-derecho.svg" alt="Arrow" class="arrow">
      </div>

      <div class="setting-item">
        <div class="setting-left">
          <img src="../../../assets/img/shared/terms.svg" alt="Terms" class="setting-icon">
          <span><b>Terms and conditions</b></span>
        </div>
        <img src="assets/img/shared/angulo-derecho.svg" alt="Arrow" class="arrow">
      </div>
    </div>

    <!-- Danger Zone -->
    <div class="danger-zone">
      <div class="danger-item">
        <img src="assets/img/shared/eliminar-usuario.svg" alt="Delete" class="danger-icon">
        <span><b>Deleted account</b></span>
      </div>
      <div class="danger-item" (click)="logout()">
        <img src="assets/img/shared/salida-del-avion.svg" alt="Logout" class="danger-icon">
        <span><b>Log out</b></span>
      </div>
    </div>

    <!-- Version -->
    <div class="version">
      Version 0.0.1 | Kuidopay
    </div>
  </div>
</ion-content>

<app-kuido-tab></app-kuido-tab>