<ion-row class="services-section">
  <ion-col size="12">
    <h3>Services</h3>
  </ion-col>

  @for(service of services; track service) {
  <ion-col size="3">
    <ion-card [ngClass]="{'service-card': service.active, 'service-card-inactive': !service.active}" (click)="redirectToService(service)">
      <ion-card-content>
        <ion-img [src]="service.icon" [alt]="service.alt"></ion-img>
        <div class="service-title">{{ service.title }}</div>
      </ion-card-content>
    </ion-card>
  </ion-col>
}
</ion-row>