<app-kuido-header title="kuidopay" [bells]="true"></app-kuido-header>
<ion-content>
  <!-- Header Section -->
  <app-profile-section></app-profile-section>
  <!-- Services Section -->
  <app-section-services [services]="services"></app-section-services>
  <!-- Latest Transactions -->
  <app-section-transactions [transactions]="transactions"></app-section-transactions>
</ion-content>

<!-- Footer Navigation -->
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-border" style="--background: white;">
    <app-kuido-tab></app-kuido-tab>
  </ion-toolbar>
</ion-footer>