<app-kuido-header title="Login Email"></app-kuido-header>

<ion-content>
  <div class="login-container">
    <ion-row>
      <ion-col size="12" class="center-content">
        <div class="email-icon">
          <img src="../../../../../assets/img/shared/sobre.svg" alt="Email icon">
        </div>
      </ion-col>
    </ion-row>
    <!-- Form -->
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="user@mail.com">
          </div>

          <div class="form-group">
            <label>Password</label>
            <div class="password-input">
              <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" placeholder="••••••••">
              <button type="button" (click)="togglePassword()" class="toggle-password">
                <ion-icon [name]="showPassword() ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </button>
            </div>
          </div>

          <div class="forgot-password">
            <a (click)="redirectForgotPassword()" >Forgot password?</a>
          </div>

          <button type="submit" class="login-button" [disabled]="!loginForm.valid">
            Login
          </button>

          <div class="register-link">
            <span>If you don't have an account. </span>
            <a (click)="redirectToRegister()">Register</a>
          </div>

          <div class="form-group mt-3">
            <app-kuido-social-login></app-kuido-social-login>
          </div>
        </form>
      </ion-col>
    </ion-row>


  </div>
</ion-content>