<ion-card class="event-card">
 

  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-thumbnail class="event-thumbnail">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-col>

        <ion-col>
          <ion-skeleton-text animated style="margin-left: 4px; width: 80%; height: 20px; margin-bottom: 8px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="margin-left: 4px; width: 90%; height: 14px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="margin-left: 4px; width: 60%; height: 14px; margin-top: 10px;"></ion-skeleton-text>
        </ion-col>

        <ion-col size="auto" class="ion-no-padding">
          <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="tags-row">
        <ion-col size="12">
          <ion-chip class="tag-skeleton">
            <ion-skeleton-text animated style="width: 50px;"></ion-skeleton-text>
          </ion-chip>
          <ion-chip class="tag-skeleton">
            <ion-skeleton-text animated style="width: 45px;"></ion-skeleton-text>
          </ion-chip>
          <ion-chip class="tag-skeleton">
            <ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>