<app-kuido-header title="Login Phone Number"></app-kuido-header>

<ion-content>
  <div class="login-container">
    <ion-row>
      <ion-col size="12" class="center-content">
        <div class="email-icon">
          <img src="../../../../../assets/img/shared/solicitud.svg" alt="Email icon">
        </div>
      </ion-col>
    </ion-row>
    <!-- Form -->
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-group">
            <label>Phone Number</label>
            <input
  type="tel"
  formControlName="phone"
  placeholder="18095551234"
  inputmode="numeric"
  pattern="^[1-9][0-9]{9,14}$"
/>

          </div>


          <button type="submit" class="login-button" [disabled]="!loginForm.valid">
            Login
          </button>

          <div class="register-link">
            <span>If you don't have an account. </span>
            <a (click)="redirectToRegister()">Register</a>
          </div>

          <div class="form-group mt-3">
            <app-kuido-social-login></app-kuido-social-login>
          </div>

        </form>
      </ion-col>
    </ion-row>

  </div>
</ion-content>