<ion-row class="px-3 animate__animated animate__fadeInUp">
  <ion-col size="12">
    <ion-item lines="none" class="input-item">
      <i class="pi pi-envelope input-icon"></i>
      <ion-input type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <i class="pi pi-lock input-icon"></i>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
  </ion-col>

  <ion-col size="12">
    <div class="center-content">
      <a class="text-sm text-primary hover-primary-dark mb-3">¿Olvidaste tu contraseña?</a>
    </div>
  </ion-col>

  <ion-col size="12">
    <ion-button (click)="login()" color="dark" expand="block" class="login-button text-dark mb-4">
      <i class="pi pi-sign-in" style="padding-right: 8px;"></i> <b> Iniciar Sesión</b>
    </ion-button>
  </ion-col>

  <ion-col size="12">
    <ion-button expand="block" class="google-button">
      <img src="assets/img/google-logo.webp" alt="google" class="mr-2" style="width: 1.8rem;" />
      <b>Continuar con Google</b>
    </ion-button>
  </ion-col>

  <ion-col size="12">
    <div class="text-center text-sm text-gray-600 mt-6">
      <b> ¿No tienes una cuenta?</b>
      <a class="text-primary hover-primary-dark font-medium">Regístrate</a>
    </div>
  </ion-col>
</ion-row>
